 {% extends 'base.html'%}


   {% block head %}
   
   <title> Form </title>
       
       {% endblock %}
    <title> Form </title>

    {% block body %}

    <form action="#">
        <fieldset>
            <legend>Personal Details</legend>
 
           
            <p>
                <label>First name : <input name="firstName"  placeholder="ENTER YOUR FIRST NAME"/></label>
            </p>
 
            <p>
                <label>Last name : <input name="lastName" placeholder="ENTER YOUR LAST NAME" /></label>
            </p>
 
           
            <p>
                Gender :
                <label><input type="radio" name="gender"
                    value="male" /> Male</label>
 
                <label><input type="radio" name="gender"
                    value="female" /> Female</label>
            </p>
 
            <p>
                <label>Email : <input type="email"
                    name="email" placeholder="ENTER YOUR EMAIL" /></label>
            </p>
            <p>
                <label>Password<input type="password"
                    name="password" placeholder="CREATE YOUR PASSWORD"></label>
            </p>

            <p>
                <label>Re-Password<input type="password"
                    name="password" placeholder="RE-TYPE YOUR PASSWORD"></label>
            </p>
 
            <p>
                <label>Date of Birth : <input type="date"
                    name="birthDate"></label>
            </p>
 
           
            <p>
                <label>Address :
                    <br />
                    <textarea name="address" cols="30"
                        rows="3" placeholder="ENTER YOUR ADDRESS"></textarea>
                </label>
            </p>
 
            
            <p>
                <button ahref="home" class="btn btn-success">Submit</button>
            </p>
        </fieldset>
    </form>
    {% endblock %}
