{% extends 'base.html'%}


{% block head %}

    <title>SIGN IN </title>
    
    {% endblock %}

    {% block body %}
    <p>
        <form action="">
        <label>Email      : <input type="email" 
            name="email" placeholder="ENTER YOUR EMAIL" /></label>
    </p>
    

    <p>
        <label>Password :<input type="password"
            name="password" placeholder="CREATE YOUR PASSWORD"></label>
    </p>

    <button type="submit" class="btn btn-success">submit</button>
</form>
    {% endblock %}
